<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Program Files\Python314\python.exe|C:\Users\dell\AppData\Roaming\Python\Python314\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script"/>
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="main.app"/>
    <add key="PYTHONPATH" value="C:\Projects\Josan_spareparts_python"/>
    <add key="WSGI_LOG" value="C:\Projects\Josan_spareparts_python\wfastcgi.log"/>
  </appSettings>

</configuration>